# Conditions, Control Flow, and Looping

In [ ]:
if <expr>:
    <statement>

In [ ]:
x = 0
y = 5

if x < y:                              # Truthy
    print('yes')
    
if y < x:                              # Falsy
    print('yes')

if x:                                  # Falsy
    print('yes')
    
if y:                                  # Truthy
    print('yes')
    
if 'aul' in 'grault':                  # Truthy
    print('yes')
    
if 'quux' in ['foo', 'bar', 'baz']:    # Truthy
    print('yes')

In [ ]:
if <expr>:
    <statement>
    <statement>
    ...
    <statement>
<following_statement>

In [ ]:
if 'foo' in ['bar', 'baz', 'qux']:
    print('Expression was true')
    print('Executing statement in suite')
    print('...')

print('After conditional')

In [ ]:
# Does line execute?                          Yes     No
#                                             ---     --
if 'foo' in ['foo', 'bar', 'baz']:         #   x
    print('Outer condition is true')       #   x
    
    if 10 > 20:                            #   x
        print('Inner condition 1')         #           x
   
    print('Between inner conditions')      #   x
   
    if 10 < 20:                            #   x
        print('Inner condition 2')         #   x
            
    print('End of outer condition')        #   x
print('After outer condition')             #   x

In [ ]:
if <expr>:
    <statement(s)>
else:
    <statement(s)>

In [ ]:
x = 20

if x < 50:
    print('(first suite)')
    print('x is small')
else:
    print('(second suite)')
    print('x is large')

In [ ]:
x = 120

if x < 50:
    print('(first suite)')
    print('x is small')
else:
    print('(second suite)')
    print('x is large')

In [ ]:
hargaBuku = 20000
hargaMajalah = 5000
uang = 2000

if uang > hargaBuku:
    print("beli buku")
else:
    print("uang tidak cukup")

In [ ]:
if <expr>:
    <statement(s)>
elif <expr>:
    <statement(s)>
elif <expr>:
    <statement(s)>
    ...
else:
    <statement(s)>

In [ ]:
hargaBuku = 20000
hargaMajalah = 5000
uang = 2000

if uang > hargaBuku:
    print("beli buku")
elif uang > hargaMajalah:
    print("beli majalah")
else:
    print("uang tidak cukup")

In [ ]:
name = 'Hacktiv8'
if name == 'Fred':
    print('Hello Fred')
elif name == 'Xander':
    print('Hello Xander')
elif name == 'Hacktiv8':
    print('Hello Hacktiv8')
elif name == 'Arnold':
    print('Hello Arnold')
else:
    print("I don't know who you are!")

In [ ]:
if 'a' in 'bar':
    print('foo')
elif 1/0:
    print("This won't happen")
elif var:
    print("This won't either")

In [ ]:
if <expr>:
    <statement>

In [ ]:
if 'f' in 'foo': print('1'); print('2'); print('3')

In [ ]:
if 'z' in 'foo': print('1'); print('2'); print('3')

In [ ]:
x = 2

if x == 1: print('foo'); print('bar'); print('baz')
elif x == 2: print('qux'); print('quux')
else: print('corge'); print('grault')

In [ ]:
x = 3

if x == 1: print('foo'); print('bar'); print('baz')
elif x == 2: print('qux'); print('quux')
else: print('corge'); print('grault')

In [ ]:
x = 3
if x == 1:
    print('foo')
    print('bar')
    print('baz')
elif x == 2:
    print('qux')
    print('quux')
else:
    print('corge')
    print('grault')

In [ ]:
raining = False
print("Let's go to the", 'beach' if not raining else 'library')

In [ ]:
raining = True
print("Let's go to the", 'beach' if not raining else 'library')

In [ ]:
age = 12
s = 'teen' if age < 21 else 'adult'
s

In [ ]:
'yes' if ('qux' in['foo', 'bar', 'baz']) else 'no'

In [ ]:
if a > b:
    m = a
else:
    m = b

In [ ]:
If True:
    print('foo')

In [ ]:
File "foo.py", line 3
    print('foo')

In [ ]:
if True:
    pass

print('foo')

In [ ]:
if True:
    pass

print('foo')

In [ ]:
while <expr>:
    <statement(s)>

In [ ]:
n = 5
while n > 0:
    n -= 1
    print(n)

In [ ]:
i = 1
while i < 6:
    print(i)
    i += 1

In [ ]:
print(i)

In [ ]:
n = 5
while n > 0:
    n -= 1
    if n == 2:
        break # Break Statement
    print(n)
print('Loop ended.')

In [ ]:
n = 5
while n > 0:
    n -= 1
    if n == 2:
        continue
    print(n)
print('Loop ended.')

In [ ]:
while <expr>
    <statement(s)>
else:
    <additional_statement(s)>

In [1]:
n = 5
while n > 0:
    n -= 1
    print(n)
else:
    print('Loop done.')

4
3
2
1
0
Loop done.

In [2]:
n = 5
while n > 0:
    n -= 1
    print(n)
    if n == 2:
        break
else:
    print('Loop done.')

4
3
2

In [ ]:
while True:
    print('foo')

In [4]:
if age < 18:
    if gender == 'M':
        print('son')
    else:
        print('daughter')
elif age >= 18 and age < 65:
    if gender == 'M':
        print('father')
    else:
        print('mother')
else:
    if gender == 'M':
        print('grandfather')
    else:
        print('grandmother')

NameError: name 'age' is not defined

In [5]:
a = ['foo', 'bar']

while len(a):
    print(a.pop(0))
    
    b = ['baz', 'qux']
    
    while len(b):
        print('>', b.pop(0))

foo
> baz
> qux
bar
> baz
> qux

In [ ]:
while <expr1>:
    statement
    statement
    
    while <expr2>:
        statement
        statement
        break # Applies to while : loop
        
    break # Applies to while : loop

In [ ]:
if <expr>:
    statement
    while <expr>:
        statement
        statement
else:
    while <expr>:
        statement
        statement
    statement
while <expr>:
    if <expr>:
        statement
    elif <expr>:
        statement
    else:
        statement
        
    if <expr>:
        statement

In [6]:
n = 5
while n > 0: n -= 1; print(n)

4
3
2
1
0

In [7]:
for i = 1 to 10
    <loop body>

SyntaxError: invalid syntax (2673917639.py, line 1)

In [9]:
for (i = 1; i <= 10; i++)
    <loop body>

SyntaxError: invalid syntax (475392013.py, line 1)

In [ ]:
for i in <collection>
    <loop body>

In [ ]:
for <var> in <iterable>:
    <statement(s)>

In [10]:
a = ['foo', 'bar', 'baz']
for i in a:
    print(i)

foo
bar
baz

In [11]:
d = {'foo': 1, 'bar': 2, 'baz': 3}
for k in d:
    print(k)

foo
bar
baz

In [12]:
for k in d:
    print(d[k])

1
2
3

In [13]:
for k in d.values():
    print(k)

1
2
3

In [14]:
for k, v in d.items():
    print(k, ":", v)

foo : 1
bar : 2
baz : 3

In [15]:
d = {'foo': 1, 'bar': 2, 'baz': 3}
for k in d:
    print(k)

foo
bar
baz

In [16]:
for k in d:
    print(d[k])

1
2
3

In [18]:
for v in d.values():
    print(v)

1
2
3

In [19]:
for n in (0, 1, 2, 3, 4):
    print(n)

0
1
2
3
4

In [20]:
x = range(5)

In [21]:
for n in x:
    print(n)

0
1
2
3
4

In [22]:
for i in ['foo', 'bar', 'baz', 'qux']:
    if 'b' in i:
        break
    print(i)

foo

In [23]:
for i in ['foo', 'bar', 'baz', 'qux']:
    if 'b' in i:
        continue
    print(i)

foo
qux

In [24]:
for i in ['foo', 'bar', 'baz', 'qux']:
    print(i)
else:
    print('Done.') # Will execute

foo
bar
baz
qux
Done.

In [25]:
for i in ['foo', 'bar', 'baz', 'qux']:
    if i == 'bar':
        break
    print(i)
else:
    print('Done.') # Will not execute

foo

In [34]:
temp = input("Ketikan temperatur yang ingin dikonversi, eg. 45F, 120C: ")
degree = int(temp[:-1])
i_convertion = temp[-1]

if i_convertion == "C":
    result = int(round((9 * degree) / 5 + 32))
elif i_convertion == "F":
    result = int(round((degree - 32) * 5 / 9))
else:
    print("Masukkan input yang benar")
    
print("Temperaturnya adalah", result, "derajat")

Ketikan temperatur yang ingin dikonversi, eg. 45F, 120C: 12C
Temperaturnya adalah 54 derajat

In [36]:
temp

'12C'

In [38]:
result

54

In [40]:
while True:
    msg = input("Ketikkan karakter: "). lower()
    print(msg)
    if msg == "stop":
        break

Ketikkan karakter: stop
stop